@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}
/* 
.chat-area,
.home {
  margin-top: 60px;
} */

.content {
  color: white;
  font-size: 17px;
}
.chat-area {
  padding: 20px;
  height: 800px;
  overflow-y: scroll;
}
.avatar {
  margin: 3px;
}

.chat-area .chat-bubble {
  background-color: rgb(61, 61, 61);

  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble .chat-time {
  font-size: 10px;
  color: white;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #009688;
}
.name-color {
  color: rgb(224, 223, 223);
}
.form-control {
  width: 60%;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
}

.btn-submit {
  background-color: #2e7d32;
  color: white;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}
